# Dependencies
node_modules/
package-lock.json

# Output files
*.svg
*.excalidrawlib
!examples/*.excalidrawlib

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Test output
test-*
